@import url('http://fonts.cdnfonts.com/css/cera-round-pro');
@import url('http://fonts.cdnfonts.com/css/minecraft-4');

:root {
    --border-color-button: #183153;
  }

* {
    font-family: 'Cera Round Pro', sans-serif!important;
}

.titulo_app {
    font-family: 'Minecraft', sans-serif !important;
}

.img-tutorial-1 {
    content:url(./imgs/3D_2_VOXEL.jpg);
    border-style: solid;
    box-shadow: 0 .5rem 1rem rgba(0,0,.15,.15)!important;
    color: var(--border-color-button);
    border-radius: 0.5em;
    font-weight: 500;
}

.img-title {
    content:url(./imgs/VOXELIZA-ME.png);
}
.img-tut-1 {
    content:url(./imgs/tut_1.png);
    border-style: solid;
    box-shadow: 0 .5rem 1rem rgba(0,0,.15,.15)!important;
    color: var(--border-color-button);
    border-radius: 0.5em;
    /* width: 100%; */
}

.img-tut-2 {
    content:url(./imgs/tut_2.png);
    border-style: solid;
    box-shadow: 0 .5rem 1rem rgba(0,0,.15,.15)!important;
    color: var(--border-color-button);
    border-radius: 0.5em;
    /* width: 100%; */
}

.img-tut-3 {
    padding: 5px;
    content:url(./imgs/tut_3.png);
    border-style: solid;
    box-shadow: 0 .5rem 1rem rgba(0,0,.15,.15)!important;
    color: var(--border-color-button);
    border-radius: 0.5em;
    /* width: 100%; */
}

.img-tut-4 {
    /* padding: 5px; */
    content:url(./imgs/tut_4.png);
    border-style: solid;
    box-shadow: 0 .5rem 1rem rgba(0,0,.15,.15)!important;
    color: var(--border-color-button);
    border-radius: 0.5em;
    /* width: 100%; */
}

canvas {
    border-radius: 10px;
    border-style: solid;
    box-shadow: 0 .5rem 1rem rgba(0,0,.15,.15)!important;
    color: var(--border-color-button);
    border-radius: 0.5em;
    width: 100%;
    height: 100%;
}

#comando{
    border-radius: 10px;
    border-style: solid;
    box-shadow: 0 .5rem 1rem rgba(0,0,.15,.15)!important;
    color: var(--border-color-button);
    border-radius: 0.5em;
    width: 100%;
    height: 100%;
    font-weight: 700;
    background-color: #ffeca9;
}

body {
    background-color: #ffffff;
    /* height: 1700px; */
}

.texto_normal {
    color:#005555;
    font-weight: 500;
    font-size: 1em;
}

.texto_titulo {
    color:#005555;
    font-weight: 500;
    font-size: 30px;
}

.custom_button {
    border-style: solid;
    background-color: #ffd43b;
    text-align: center;
    box-shadow: 0 0.3em 0 currentColor;
    color: var(--border-color-button);
    border-radius: 0.5em;
    font-weight: 500;
}

.custom_button:hover {
    background: #fab005;
}

.panel {
    border-radius: 10px;
    border-style: solid;
    box-shadow: 0 .5rem 1rem rgba(0,0,.15,.15)!important;
    color: var(--border-color-button);
    border-radius: 0.5em;
}

.list_title {
    color: var(--border-color-button);
    border-radius: 0.5em;
    font-weight: 900;
    text-transform: uppercase;
}

.command_button {
    border-radius: 5px;
}

.command_button::hover {
    background-color: #ffd43b;
}